/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 5px 5px 20px SkyBlue;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 50px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #c8edee;
    }
